/*
General
 */
body{
    height: 3000px;
}
.text-wrap{
    word-wrap: break-word;
}
/**************************************************/
/*
nav
 */
.nav-bar{
    position: fixed;
    z-index: 50;
    height: 70px;
    padding-top: 5px;
    background-color: #7fb6ff;
    color: #fff;
    width: inherit;
    line-height: 70px;

}
.nav-bar a ,.nav-bar a:hover {
    color: #fff;
}

/******************************************/


/**
Mobile view
 */
.mobile-wrapper {
    position: relative;
    width: 342px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    box-shadow: none;

}

@media (max-width: 479px) {
    .mobile-wrapper {
        width: 100%;
    }
}
/*************************************************************************/


/**
Home Slider
 */
.recentNews{
    max-height: 200px;
}
.item img{
    width: 100%;
    max-height: 200px;
    min-height: 200px;
}

/**************************************************************/

/*
All news
 */
.all-news-page{
    background-image: linear-gradient(118deg, #1775ff, #31dbd2 98%);
    padding: 0;
    height: 700px;

}
.all-news{
    background-color: #ffffff;

    padding: 0;
}
.single-new{
    height:80px;
    margin:5px 0 5px 0;
    cursor: pointer;
    padding-right: 0;
    padding-left: 0;

}
.single-new-img{
    height: 100%;
}
.single-new-img img{
padding: 0;
    margin: 0;
    max-height: 100%;


}
.single-new-title{
    height: 30%;
}
.single-new-title h3{
    color: #888;
    padding: 0;
    margin: 0;
}
.single-new-content{
    height: 70%;
}
.single-new-content p{
    color: #ababab;
}
.news-separator{
    margin-top: 0;
    margin-bottom: 6px;
    padding: 0;
    height: 4px;
    color: #444;

}

/************************************************************************/

/*
News Page
 */

.news-page{
padding: 0;
    margin: 0;
}

.news-page .title{

}
.news-page .news-img{
  margin-bottom: 50px;
}


.news-body .media ,
.news-body .media-left{
    padding:0;
}

.news-body .media-object{
    max-width: 100%;
    min-height: 50px;
}

.comment-header{
    font-size: 18px;
    color: #7f8c8d;
    font-weight: bold;
    border-bottom: 2px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 2px;
}
.delete-comment,.edit-comment{
    transition: all 2s ease-in-out;
}
.delete-comment:hover,.edit-comment:hover{
    cursor: pointer;
    border-bottom: 1px solid #777777;
}




/*************************************************************************/



#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}
#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
}