/*
General
 */
body{
    height: 3000px;
}
*{
 outline: none;
}
.text-wrap{
    word-wrap: break-word;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #7fb6ff;

}
/**************************************************/
/*
nav
 */
.nav-bar{
    position: fixed;
    z-index: 50;
    height: 70px;
    padding-top: 5px;
    background-color: #7fb6ff;
    color: #fff;
    width: inherit;
    line-height: 70px;

}
.nav-bar a ,.nav-bar a:hover {
    color: #fff;
}

/******************************************/


/**
Mobile view
 */
.mobile-wrapper {
    position: relative;
    width: 342px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    box-shadow: none;

}

@media (max-width: 479px) {
    .mobile-wrapper {
        width: 100%;
    }
}
/*************************************************************************/


/**
Home Slider
 */
.recentNews{
    max-height: 200px;
}
.item img{
    width: 100%;
    max-height: 200px;
    min-height: 200px;
}

/**************************************************************/

/*
Home
 */

.home-icon{
    margin-top:10px ;
    margin-bottom: 10px;
}
.home-icon a{
    background-color: #0e6dcd;
    min-height: 80px;
    border-radius: 50%;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.home-icon a i{
    font-size: 25px;
}
.home-icon a:hover{
    color: #fff;
    text-decoration: none;

}
.icon-content{
    margin-top: 10px;
    line-height: 20px;
}










/**************************************************************/
/*
All news
 */
.all-news-page{
    background-image: linear-gradient(118deg, #1775ff, #31dbd2 98%);
    padding: 0;
    height: 700px;

}
.all-news{
    background-color: #ffffff;

    padding: 0;
}
.single-new{
    height:80px;
    margin:5px 0 5px 0;
    cursor: pointer;
    padding-right: 0;
    padding-left: 0;

}
.single-new-img{
    height: 100%;
}
.single-new-img img{
padding: 0;
    margin: 0;
    max-height: 100%;


}
.single-new-title{
    height: 30%;
}
.single-new-title h3{
    color: #888;
    padding: 0;
    margin: 0;
}
.single-new-content{
    height: 70%;
}
.single-new-content p{
    color: #ababab;
}
.news-separator{
    margin-top: 0;
    margin-bottom: 6px;
    padding: 0;
    height: 4px;
    color: #444;

}

/************************************************************************/

/*
News Page
 */

.news-page{
padding: 0;
    margin: 0;
}

.news-page .title{

}
.news-page .news-img{
  margin-bottom: 50px;
}


.news-body .media ,
.news-body .media-left{
    padding:0;
}

.news-body .media-object{
    max-width: 100%;
    min-height: 50px;
}

.comment-header{
    font-size: 18px;
    color: #7f8c8d;
    font-weight: bold;
    border-bottom: 2px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 2px;
}
.delete-comment,.edit-comment
,.edit-news,.delete-news{
    transition: all 2s ease-in-out;
    color: black;
}
.delete-comment:hover,.edit-comment:hover ,
.delete-news:hover, .edit-news:hover{
    cursor: pointer;
    border-bottom: 1px solid #777777;
    color: black;

}




/*************************************************************************/



/*
Add news
 */
.add-news-header{
    padding-bottom: 15px;
    border-bottom: 2px solid #e8e8e8;
}
.fileUpload button{
    font-size: 5vw;
}
.fileUpload input.upload {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    opacity: 0;
    cursor: pointer;
}
#image ,.fileUpload , input[type='file']{
    cursor: pointer;

}

/**************************************************************************/

/**
Message part
Source : https://codepen.io/2ne/pen/osvpj
 */
.message-header{
    background-color: #eee;
    font-weight: bold;
    height:50px;
    line-height: 50px;
}
.message-container{
    min-height:200px;
}
.message {
    border-radius: 20px 20px 20px 20px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
}
.message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 80px;
}
.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 80px;
}
.message.to + .message.to,
.message.from + .message.from {
    margin-top: -7px;
}
.message:before {
    border-color: #2095FE;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 0 20px;
    bottom: 0;
    clip: rect(20px, 35px, 42px, 0px);
    content: " ";
    height: 40px;
    position: absolute;
    right: -50px;
    width: 30px;
    z-index: -1;
}
.message.from:before {
    border-color: #E5E4E9;
    left: -50px;
    transform: rotateY(180deg);
}
.todate{
    float: right;
    padding-right: 35px;
    margin-top: -10px;
}
.fromdate{
    float: left;
    padding-left: 35px;
    margin-top: -10px;
}
.clear{
    clear: both;
}